body{
  /* background-image: url("./img/baac.jpg");
 background-size: cover; */
 text-align: center;
}
.tableHead{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-style: italic;
  font-size: 20px;
  background-color: gray;
  /* margin-top: 15px; */


}
.tableHead div{
  /* border-right: 5px solid #000; */
    text-align: center;
    margin: 5px
}
 .resultTable div {
   display: flex;
  flex-direction: row;
    text-align: center;
    margin:0 auto;
}

#resultTable div {
  display: flex;
  justify-content: space-around;
  /* background-color: #258; */
  border: 1px solid;
  width:100%
}

.imgContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.imgc{
  width: 100px;

}

figcaption{
  text-align: center;
}
.convertSection {
  width: 100%;
  display: flex;
  background-color: #261875;
  min-height: 300px;
  text-align: center;
}
.convert{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #261875; */
  align-items: center;

}

.convertButton{
  height: 100px;
  width: 200px;
  text-align: center;
}

.convertContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #8a8a8a
}
.homeSection{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color:#175
}
